
 form{
     width:50%;
     margin: auto;
     text-align: center;
     padding: 1em;
     background-color: white; 
     /*border: 1px solid green;*/
     margin-top: 50px;
     
     }
 
 label{
     font-weight: bold;
     font-size:15px;  
     color: white;

 }
 
 #button{
     background-color: green;
     width:120px;
     color: white;
 }
 h2{
     color: white;
     text-align: center;
 }
 input{
     border: 1px solid white;
     padding: 10px; 
 }
 textarea{
     height:100px;
 }